.Wrapper {
  padding: 40px 0;
  text-align: center;
}

.Title {
  margin-top: 50px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 35px;
  color: #d861a6;
}

.Info {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 500;
  color: #b678a1;
}
