.Container {
  display: flex;
  align-items: center;
}

.Avatar {
  margin-right: 10px;
}

.Name {
  font-weight: 700;
  margin-right: 20px;
  color: var(--secondaryTextColor);
  font-size: 18px;
}

@media screen and (max-width: 500px) {
  .Avatar,
  .Name {
    display: none;
  }
}
